<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Creation Page</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="form" style="text-align: center; margin-top: 25vh;">
            <form action="/create/landlord" method="get">
                <button class="mainButton" id="createLandlord">CREATE LANDLORD</button>
            </form>
            <form action="/create/tenant" method="get">
                <button class="mainButton" id="tenant">CREATE TENANT</button>
            </form>
            <form action="/create/contract" method="get">
                <button class="mainButton" id="contract">CREATE CONTRACT</button>
            </form>
        </div>
    </body>
</html>
