<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Deletion Page</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="form" style="text-align: center; margin-top: 25vh;">
            <form action="/delete/landlord" method="get">
                <button class="mainButton" id="landlord">DELETE LANDLORD</button>
            </form>
            <form action="/delete/tenant" method="get">
                <button class="mainButton" id="tenant">DELETE TENANT</button>
            </form>
            <form action="/delete/contract" method="get">
                <button class="mainButton" id="contract">DELETE CONTRACT</button>
            </form>
            <form action="/delete/contract/tenant" method="get">
                <button class="mainButton" id="deleteTenant" >DELETE TENANT FROM CONTRACT</button>
            </form>
        </div>
    </body>
</html>
