<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Page</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="form" style="text-align: center; margin-top: 25vh;">
            <form action="/update/landlord" method="get">
                <button class="mainButton" id="updateL">UPDATE LANDLORD DETAILS</button>
            </form>
            <form action="/update/tenant" method="get">
                <button class="mainButton" id="updateT">UPDATE TENANT DETAILS</button>
            </form>
            <form action="/update/contract" method="get">
                <button class="mainButton" id="updateC">UPDATE CONTRACT</button>
            </form>
        </div>
    </body>
</html>
